<div class="container">
    <nav>
        <div class="logo">
            <h4>PET-SHOP</h4>
        </div>
        <ul class="nav-lists">

            <!-- public-sit-landing-page -->
            <li class="nav-item">
                <a class="nav-links" (click)="homeRoute()">Home</a>
            </li>

            <!-- public-about-us -->
            <li class="nav-item">
                <a class="nav-links" (click)="aboutUsRoute()">About Us</a>
            </li>

            <!-- public-contact-us -->
            <li class="nav-item">
                <a class="nav-links" (click)="contactUsRoute()">Contact Us</a>
            </li>

            <!-- public-services -->
            <li class="nav-item">
                <a class="nav-links" (click)="servicesRoute()">Services</a>
            </li>

            <!-- login module -->
            <li class="nav-item">
                <a class="nav-links" (click)="loginAuthentication()">Login</a>
            </li>
        </ul>
    </nav>
</div>

<!-- routing space for public-sit module -->
<router-outlet></router-outlet>