.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    cursor: pointer;
    display: inline;
}

li {
    float: left;
  }

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }