<nav>
    <ul class="nav-list">
        <li class="nav-item">
            <a (click)="homeRoute()">Home</a>
        </li>
        <li class="nav-item">
            <a (click)="aboutUsRoute()">About Us</a>
        </li>
        <li class="nav-item">
            <a (click)="contactUsRoute()">Contact Us</a>
        </li>
        <li class="nav-item">
            <a (click)="servicesRoute()">Services</a>
        </li>
        <li class="nav-item">
            <a (click)="loginAuthentication()">Login</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>