<div class="container">

    <!-- wave -->
    <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#6d1145" fill-opacity="1" d="M0,192L48,192C96,192,192,192,288,165.3C384,139,480,85,576,64C672,43,768,53,864,85.3C960,117,1056,171,1152,181.3C1248,192,1344,
        160,1392,144L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg> -->
    <div class="content-container">
        <div class="content">
            <div class="welcome-text">Welcome to PET-SHOP!</div>
            <div class="content-text">
                <span>
                    <b>PET-SHOP</b> is your one-stop online pet supply store, where you can find high-quality pet supplies, which helps your pet at every life-stage.
                    <b>PET-SHOP</b> will help you choose the most appropriate dog food, supplements, treats, toys, dog accessories.
                    Not only that but also for cats, guinea pigs, rabbits, hamsters, turtles, birds & aquatic animals.
                </span>
                <span>
                    The reason why we are considered a reliable pet shop online is because we adore pet-owners and even more their lovely pets!
                </span>
                <span>
                    We know what a pet means to us humans, hence we help fellow pet-lovers choose the best dog food, cat food, treats, 
                    accessories, shampoo and other pet grooming products, supplements, toys and other pet products in the easiest way possible.
                </span>
            </div>
            <button class="login-button" routerLink="/login/user-registration">Create Account</button>
        </div>
    </div>
</div>